# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\springstudy\projects\mybatisstudy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
